<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon aria-hidden="false" aria-label="Dogs" style="margin-left: 25px;">pets</mat-icon>
  <div style="margin: 25px;">Dogs Breed Identificator</div>
</div>

<div class="content" role="main">
  <div class="webcam-box-outer">
    <div class="webcam-box-inner">
      <video [hidden]="!takingPic" autoplay playsinline muted id="webcam" width="299" height="299"></video>
      <img [hidden]="takingPic" [src]="screenshotUrl" width="299" height="299"/>
    </div>
  </div>
  <div id="no-webcam" style="display: none;"><h3>No webcam available!</h3></div>
</div>

<mat-spinner *ngIf="model == null" style="margin: 150px auto;">Loading...</mat-spinner>

<div *ngIf="model != null">

  <button class="prediction-btn" *ngIf="takingPic" mat-raised-button color="primary" (click)="predict();">Predict</button>
  <div style="margin: 300px"  *ngIf="takingPic && !top5Pred.length"></div>

  <button class="prediction-btn" *ngIf="!takingPic" mat-raised-button color="accent" (click)="reset();">Reset</button>

  <div class="prediction-container">
    <div *ngFor="let p of top5Pred">
      <b>{{p[0]}}</b> <mat-progress-bar mode="determinate" value="{{p[1]}}" class="prediction-bar"></mat-progress-bar>
      <br>
    </div>
  </div>
</div>

<footer>
  <a href='https://it.linkedin.com/in/mattia-brusamento'>Created by Mattia Brusamento</a>
  <a href='https://github.com/matti16/dogs-breed-identification'>
    <img style="margin-left: 30vw; height: 24px;" src="../assets/img/GitHub-Mark-Light-32px.png">
  </a>
</footer>

<router-outlet></router-outlet>